# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.sqlite3
*.db

# Virtual environments
.venv/
venv/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Editors
.vscode/
.idea/
